<div class="col-md-2"></div>
<div class="col-md-8">
<div class="well bs-component">
<%= form_for @build, html: {class: "form-horizontal"} do |f| %>
  <fieldset>
    <legend>New build</legend>
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="subgroup_id" class="col-lg-2 control-label">SubGroup</label>
      <div class="col-lg-10">
		<%= f.collection_select(:subgroup_id, @subgroup, :id, :name, {},{class: "form-control"}) %>
      </div>
    </div>
    <div class="form-group">
      <label for="due_date" class="col-lg-2 control-label">Due date</label>
      <div class="col-lg-10">
        <%= f.date_field :due_date, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="value" class="col-lg-2 control-label">Value</label>
      <div class="col-lg-10">
        <%= f.number_field :value, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to "Cancel", subgroup_path(@subgroup), class: "btn btn-default" %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
</div>
<% end %>
</div>
</div>
<div class="col-md-2"></div>