<div class="col-md-2"></div>
<div class="col-md-8">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<a href="<%=new_group_path%>" class="btn btn-link"> <%= t('new_group') %> </a>
		<a href="<%=new_subgroup_path%>" class="btn btn-link"> <%= t('new_subgroup') %> </a>

		<ul class="nav navbar-nav navbar-right">
			<%= form_tag(root_path, method: "get") do %>
				<%= select_month(@month, {field_name: 'month'}, html_options = {class: "btn btn-default dropdown-toggle"})%>
				<%= select_year(@year, {field_name: 'year'}, html_options = {class: "btn btn-default dropdown-toggle"})%>
        <%= submit_tag t('filter'), class: "btn btn-primary" %>
			<% end %>
    </ul>
    </div>
	</nav>

	<% @groups.each do |group| %>
	<div class="panel panel-default">
	  <div class="panel-body"><%= group.name %></div>
	  <div class="panel-footer">
			<table class="table table-striped table-hover ">
			  <thead>
			    <tr>
			      <th> <%= t('subgroup') %>	</th>
			      <th> <%= t('value') %> </th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% group.subgroups.each do |subgroup| %>
			    <tr>
			      <td><a href="<%=subgroup_path(subgroup.id)%>"><%= subgroup.name %></a></td>
			      <td><%= subgroup.total_bills(@month,@year) %></td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
			<%= t('total') %>: <%= group.total_bills(@month,@year) %>
	  </div>
	</div>
	<% end %>
</div>
<div class="col-md-2"></div>
