<div class="col-md-2"></div>
<div class="col-md-8">
<nav class="navbar navbar-default">
  <div class="container-fluid">
  <a href="<%=new_bill_path(subgroup: @subgroup)%>" class="btn btn-link"><%=t('new_bill')%></a>
  </div>
</nav>

<div class="well bs-component">
<div class="panel panel-default">
  <div class="panel-body"><%= @subgroup.name %></div>
  <div class="panel-footer">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th> <%=t('bill')%> </th>
          <th> <%=t('due_date')%> </th>
          <th> <%=t('value')%> </th>
          <th> <%=t('actions')%> </th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
        <tr>
          <td><%= bill.name %></td>
          <td><%= bill.due_date %></td>
          <td><%= bill.value %></td>
          <td>
          <%= link_to("",
                      bill_path(bill),
                      method: :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'glyphicon glyphicon-trash') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%=t('total')%>: <%= @subgroup.total_bills(@month, @year) %>
  </div>
</div>
</div>
</div>
<div class="col-md-2"></div>