<div class="col-md-2"></div>
<div class="col-md-8">
<nav class="navbar navbar-default">
  <div class="container-fluid">
  <a href="<%=new_bill_path(subgroup: @subgroup)%>" class="btn btn-link">New bill</a>
  </div>
</nav>

<div class="well bs-component">
<div class="panel panel-default">
  <div class="panel-body"><%= @subgroup.name %></div>
  <div class="panel-footer">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th> Bill </th>
          <th> Due Date </th>
          <th> Value </th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
        <tr>
          <td><%= bill.name %></td>
          <td><%= bill.due_date %></td>
          <td><%= bill.value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    Total: <%= @subgroup.total_bills %>
  </div>
</div>
</div>
</div>
<div class="col-md-2"></div>